POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_DB=boilerplate_db
# The port your host machine uses to connect to the internal database (db)
POSTGRES_PORT=5433
POSTGRES_HOST=postgrest_db
SERVER_PORT=3001
CLIENT_PORT=5173

# pgAdmin Credentials
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin123
